---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/Sidebar.astro';
---

<Default {...Astro.props}><slot /></Default>
<a href="https://nettskjema.no/a/422909" target="_blank"> Gi tilbakemelding!</a>

<style>
a {
	text-decoration: none;
	color: var(--sl-color-text-accent);
	font-size: var(--sl-text-base);
	padding: 0.5rem 1rem;
	border: 1px solid var(--sl-color-text-accent);
	border-radius: 0.5rem;
	text-align: center
}
</style>